@page
@model BookListModel
@{
}
<div class="container"> 
    <div class="">


<table class="table table-striped">
      <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var b in Model.Books)
      {
    <tr>
      <td>@b.Id</td>
      <td>@b.Title</td>
      <td>@b.Author</td>
      <td><a href="BookDetails?id=@b.Id" class="btn btn-outline-primary">Details</a></td>
    </tr>
      }
  </tbody>

  </table>

    </div>
    <div class"">
        <a href="Add" class="btn btn-outline-primary">Add</a>
    </div>
</div>
@*<h1>@Model.TestString</h1>
<h2>@Model.TestSayi</h2>*@
